# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store

# Test coverage
coverage/

# Jest
jest-test-results.json

# Misc
*.swp
*.swo

# Build output
dist/

# VS Code settings
.vscode/
